body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: #355592
}

#container {
  margin: 0;
  padding: 0;
  line-height: 110%;
  width: 1010px;
}

#baner {
  margin: 0;
  padding: 0;
  height: 105px;
  width: 100%;
 /* background-image: url("pictures/baner_pjwstk.gif"); */
  background-repeat: no-repeat;
  background-position: top center;
}

#pagetitle {
  position: relative;
  top: 60px;
  left: 50px;
  width: 100%;
  line-height: 100%;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 25px;
  color: darkblue;
  font-weight: normal;
}

#navbar {
  float: left;
  /*** Najwazniejsze **/
  width: 200px;
  height: 600px;
  margin: 0;
  padding: 0;
  background-image: url("pictures/navbg.jpg");
  background-repeat: repeat-x;
  background-position: top left;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 2px;
  font-family: Tahoma, verdana, arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.sep {
  border-bottom: #ccc solid 1px;
  padding-bottom: 3px;
}

#navbar  ul li a {
  display: block;
  padding: 0px 0px 0px 10px;
  width: 175px;
  color: #d5e3ee;
  text-decoration: none;
  font-family: Tahoma, verdana, arial, Helvetica, sans-serif;
  font-size: 13px;
}

#navbar ul li a:hover {
  color: #003399;
  background-color: #FFFFFF;
}

#zcontent {
  float: left;
  margin: 0;
  padding: 0;
  width: 800px;
}

#content {
  width: 93%;
  margin-left: 30px;
  margin-right: auto;
  line-height: 120%;
  font-family: Tahoma, verdana, arial, Helvetica, sans-serif;
  font-size: 20px;
}

.tytul {
  cursor: pointer;
}

.slajd {
  padding: 10px;
  line-height: 140%;
  font-family: arial, Tahoma, verdana, Helvetica, sans-serif;
  font-size: 27px;
  border: solid red 2px;
}

.slajd ul {
  margin-top: 4px;
}

.slajd ul li {
  padding: 5px;
}

.uwaga {
  padding: 10px;
  font-size: 23px;
  border: dotted black 2px;
  color: black;
  background-color: #FF9966;
}

.kod {
  font-family: 'DejaVu Sans Mono', 'Courier New', Courier, monospace;
  color: black;
  padding: 2px;
  font-size: 23px;
}

pre {
  margin: 2px;
  padding: 2px;
}

.tab {
  width: 80%;
  text-align: center;
  margin: auto;
  display: table;
}

.wrs {
  border: solid black 1px;
  margin: 2px;
  padding: 0;
  width: 100%;
}

.kom1 {
  padding: 5px;
  float: left;
  width: 250px;
  font-family: 'DejaVu Sans Mono', 'Courier New', Courier, monospace;
  font-size: 22px;
  color: black;
}

.kom2 {
  padding: 5px;
}

.poj {
  padding: 0;
  margin: 2px;
  font-family: 'DejaVu Sans Mono', 'Courier New', Courier, monospace;
  font-size: 22px;
  color: black;
  color: black;
  border: solid black 1px;
  width: 100%;
}

#content a {
  display: block;
  padding: 5px;
}

.obrazek {
  margin: 0 0px 40px auto;
  width: 190px;
  text-align: right;
  font-family: Tahoma, verdana, arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.cobrazek img {
  padding: 0;
  padding-bottom: 10px;
  margin: auto;
  display: block;
  border: none;
}

.obrazek a {
  border: none;
  text-decoration: none;
  color: #355592
}

.obrazek p {
  width: 170px;
  margin: auto;
  font-family: Tahoma, verdana, arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.obrazek img {
  padding: 0;
  padding-bottom: 10px;
  margin: auto;
  display: block;
  border: none;
}

#footer { /*** Najwazniejsze **/
  margin-left: 200px;
  clear: left;
  padding: 15px 10px;
  font-family: Tahoma, verdana, arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}